@page
@model VideoSharingSite.Pages.Statistic.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Statistics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Statistics.ID" />
            <div class="form-group">
                <label asp-for="Statistics.TargetAudience" class="control-label"></label>
                <input asp-for="Statistics.TargetAudience" class="form-control" />
                <span asp-validation-for="Statistics.TargetAudience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statistics.AverageViewsPerHour" class="control-label"></label>
                <input asp-for="Statistics.AverageViewsPerHour" class="form-control" />
                <span asp-validation-for="Statistics.AverageViewsPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statistics.AverageCommentsPerHour" class="control-label"></label>
                <input asp-for="Statistics.AverageCommentsPerHour" class="form-control" />
                <span asp-validation-for="Statistics.AverageCommentsPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statistics.AveragePercentageWatchtime" class="control-label"></label>
                <input asp-for="Statistics.AveragePercentageWatchtime" class="form-control" />
                <span asp-validation-for="Statistics.AveragePercentageWatchtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
