@page
@model VideoSharingSite.Pages.Videos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Video.ID" />
            <div class="form-group">
                <label asp-for="Video.Title" class="control-label"></label>
                <input asp-for="Video.Title" class="form-control" />
                <span asp-validation-for="Video.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video.Category" class="control-label"></label>
                <input asp-for="Video.Category" class="form-control" />
                <span asp-validation-for="Video.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video.Description" class="control-label"></label>
                <input asp-for="Video.Description" class="form-control" />
                <span asp-validation-for="Video.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video.Views" class="control-label"></label>
                <input asp-for="Video.Views" class="form-control" />
                <span asp-validation-for="Video.Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video.LengthInSeconds" class="control-label"></label>
                <input asp-for="Video.LengthInSeconds" class="form-control" />
                <span asp-validation-for="Video.LengthInSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video.StatisticsID" class="control-label"></label>
                <select asp-for="Video.StatisticsID" class="form-control" asp-items="ViewBag.StatisticsID"></select>
                <span asp-validation-for="Video.StatisticsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
